function List.dispose 2
label REC_CALL
push argument 0
pop pointer 0
push this 0
pop local 0
push this 2
pop local 1
push pointer 0
call Memory.deAlloc 1
pop temp 0
push local 0
push constant 0
eq
if-goto SKIP_IF
push local 1
pop argument 0
goto REC_CALL
label SKIP_IF
push constant 0
return
