function List.range_rangeRec 0
label REC_CALL_0
push argument 1
push argument 2
gt
push constant 0
eq
if-goto SKIP_TRUE_0
push argument 0
return
label SKIP_TRUE_0
push argument 2
push argument 0
call List.List 2
push argument 2
call Int.dec 1
pop argument 2
pop argument 0
goto REC_CALL_0
function List.range 0
call List.Empty 0
push argument 0
push argument 1
call Int.dec 1
call List.range_rangeRec 3
return
